
/*FORMATO INICIAL*/
* {
margin: 0%;
padding: 0%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: black;
    max-width: 100%;


}
/*BOOTSTRAP*/
/*FORMATO TEXTO*/
.tittle{
    letter-spacing: 2px;
    text-shadow: 5px 0px 5px rgb(116, 114, 114);
    font-size: 18px;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    color: black;
}
.secondTittle{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Teko', sans-serif;
    text-shadow: 1px 1px 10px #BC3908;
    font-size: 32px;
    letter-spacing: 5px;
}
/*NAVBAR Y FOOTER*/
.navItems__shadow{
    text-shadow:5px 5px 5px rgb(0, 0, 0);
}

.navbar__a{
    transition: all 1.5s;
}
.navbar__a:hover{
    text-decoration:underline;
    text-shadow: 0px 0px 3px#deb6e8;
}
.redes{
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    text-decoration: none;
}
.footer{
    box-shadow: 5px -5px 30px white;
    height: 100%;
}
/*IMAGENES*/
.imagenInicio{
    border-radius: 5px;}

.imagenInicio{
    width: 100%;
    margin-top: 20px;
    box-shadow: 0px -4px 30px #979797;
    border-radius: 5px;
    animation-duration: 1s;
    animation-name: imageninicio;
    animation-fill-mode:forwards;
    animation-timing-function:cubic-bezier(0.895, 0.03, 0.685, 0.22);
    
    
}
@keyframes imageninicio {
    from { 

        opacity: 0; 
      }
    
      to {

        opacity: 1; 
      }
    
}



.img__sustentable{
   box-shadow: 0px -4px 10px rgb(116, 114, 114);
    transition: box-shadow 2s, transform 2.5s;
    
    
}
.img__sustentable:hover{
    box-shadow:1px 0px 35px rgb(116, 114, 114);
    transform: scale(1.05);
   


}
.sectionSustentable{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0% 0%;
    padding: 0% ;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.imgSustentable__grid__1{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Teko', sans-serif;
    font-size: 24px;
    margin-top: 50px;
    text-align: center;
    grid-area: 1/1/2/4;
    color: rgb(146, 139, 139);
}

.imgSustentable__grid__2 {
    grid-area:2/1/2/2;
    width: 100%;
    height: 100%;
    justify-self: center;
}
.imgSustentable__grid__2 img{
    width: 100%;
    height: 100%;
}
.imgSustentable__grid__3{
    width: 100%;
    height: 100%;
    justify-self: center;
}
.imgSustentable__grid__3 img{
    width: 100%;
    height: 100%;
}
.imgSustentable__grid__4 {
    grid-area: 2/3/2/4;
    width: 100%;
    height: 100%;
    justify-self: center;
}
.imgSustentable__grid__4 img{
    width: 100%;
    height: 100%;
}
/*ANIMACIONES Y TRANSICIONES PROYECTO*/

.img__animacion{
    border-radius: 10px;
    transition: all 0.7s;
}
.img__animacion:hover{
    box-shadow:0px 0px 5px #F6AA1C;

}


/* SECCIONES-TEXTO*/
.ParrafoDescriptivo__p {
    margin-top: 25px;
    padding: 16px 0;
    color: rgb(252, 252, 252);
    height: 1.5;
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
    text-shadow: 1px 1px 25px rgb(206, 206, 255);
    text-align: center;
  
    
}

/*BUTTON*/
.volver__a__button{
font-size:16px;
color:rgb(0, 0, 0);
margin: 50px 0px;
padding: 2px 2px 2px 2px;
background-color:rgb(80, 80, 80);
box-shadow: 1px 1px 10px rgb(255, 255, 255);
border-radius: 50px;
font-weight: bold;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
transition: background-color 2s, border-color 2s, box-shadow 2s;
}
.volver__a__button a{
text-decoration: none;
color:rgb(0, 0, 0);
}
.volver__a__button:hover{
    background-color: #BC3908;
    border-color: #F6AA1C;
    box-shadow:1px 1px 25px rgb(255, 255, 255); 
}

/*FORMATO ESTUDIO*/
.textEstudio{
    text-align: justify;
    
}
.backgroundEstudio{
    background-image: url(../assets/Proyecto/proyecto-1-posada/posada\ 2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundDiv{
    
        grid-area: 2/1/6/4;
        align-self: flex-start;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-align: justify;
        line-height: 2;
        background-color: rgba(128, 128, 128, 0.33);
        border-radius: 50px;
        padding: 15px;
}
/*MEDIA QUERIES*/
@media (min-width:320px) and (max-width:600px) {

    .tittle{ 
text-align: center;
    }
    .imgSustentable__grid__1{
        grid-area: 1/1/1/4;
    }
    .imgSustentable__grid__2{
    grid-area: 2/1/2/4;
    width: 310px;
    height: 300px;
}
    .imgSustentable__grid__3{
    grid-area: 3/1/3/4;
    width: 310px;
    height: 300px;
}
    .imgSustentable__grid__4{
    grid-area: 4/1/4/4;
    width: 310px;
    height: 300px;
}
}