.footer{
    box-shadow:0px -5px 20px rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgb(255, 255, 255),#a5a58d);
    border-top: solid;
    border-top-color: #f1faee;
  
        div .tittle{
    letter-spacing: 2px;
    text-shadow: 5px 0px 5px rgb(116, 114, 114);
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    color: black;

}  }

 .footer div a {
    
    width: 40px;
    
     img{
   
   
        transition: all 1.5s;
        border-radius: 50px;    
             &:hover{
                text-decoration:underline;
                box-shadow: 0px 0px 15px#f61c1c  
    }}}

    /*FORMATO RESPONSIVE*/
@media (min-width:320px) and (max-width:768px) {
.footer div .tittle{ 
            text-align: center;
            font-size: 16px;
            letter-spacing: 1px;
                }
                .footer div .copyright{
                   text-align: center;
                   
                }}