.footer{
    box-shadow: 5px -5px 20px rgb(49, 49, 49);
    height: 100%;
    background-image: url(../assets/Inicio/fondo-marmol.jpg);
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
  
        div .tittle{
    letter-spacing: 2px;
    text-shadow: 5px 0px 5px rgb(116, 114, 114);
    font-size: 18px;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    color: black;

}  }

footer div .redes{
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    text-decoration: none;}

 footer div .navbar__a{
        transition: all 1.5s;
             &:hover{
                text-decoration:underline;
                text-shadow: 0px 0px 3px#deb6e8;
    }}
@media (min-width:320px) and (max-width:600px) {
.footer div .tittle{ 
            text-align: center;
                }}