* {
    margin: 0;
    padding: 0;
    }
body{
        line-height: 1.5;
        background-color:rgb(254, 254, 254);
        max-width: 100%;
    
    
    }
.tittleH3{
    font-family: 'Quicksand', sans-serif;
    text-shadow: 1px 2px 3px #646464;
    color: black;
    letter-spacing: 1px;

    
}

.secondTittle{
    @include subtittle (1px)
        

    }
.imgMain{
    width: 300px;
    height: 310px;
}


/*FORMATO ESTILO*/
body main section .ParrafoDescriptivo__p{  
    margin-top: 10px;
    padding: 16px 0;
    color: rgb(0, 0, 0);
    height: 1.5;
    font-style: italic;
    font-weight: normal;
    /*text-shadow:$box-shadowTop;*/
    text-align: justify;
  
    
}
