$fontTittle: 2rem;
$fontParraf: 0.93rem;
$colorTittle: #F6AA1C;
$box-shadowTittle: 1px 1px 10px #000000;
$box-shadowBottom:0px 5px 10px #444444;
$box-shadowTop:0px -5px 10px #6b705c;
$box-shadowTransition:1px 0px 35px #eb6e2b;