$fontTittle: 2rem;
$fontParraf: 0.93rem;
$colorTittle: #F6AA1C;
$box-shadowTittle: 1px 1px 10px #BC3908;
$box-shadowBottom:0px 5px 10px #444444;
$box-shadowTop:0px -4px 10px rgb(116, 114, 114);
$box-shadowTransition:1px 0px 35px rgb(116, 114, 114);